@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>User Login</h2>

<form asp-action="Index">
    username:<input type="text" name="user" class="form-control"/>
    password:<input type="text" name="pass" class="form-control" />
    <input type="submit" value="login"/>


</form>