@page
@model Username_and_password.Pages.Students.CreateUserModel
@{
}
<h1>Create User</h1>
<form method="post">
    Username <imput asp-for="UserInfo.Username" class="form-control"/>
    Password <imput asp-for="UserInfo.Password" class="form-control"/>
</form>