@page
@model stateManagement.Pages.QueryStringWriteModel
@{
}

<form method="get" action="QueryStringRead">
    name:<input name="myname" class="form-control" />
    <input type="submit" value="save" class="btn btn-primary" />


</form>