@page
@model stateManagement.Pages.sessionWriteModel
@{
}

<form method="post">
    name:<input asp-for="Name" class="form-control" />
    <input type="submit" value="save" class="btn btn-primary"/>


</form>